<div onClick="window.location='/datatools/colorthestates/';" style="cursor:pointer;"> 
	
	<div style="font-size:40px; font-weight:bold; padding-left:15px; background: #999; /* for non-css3 browsers */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#12cde6', endColorstr='#f5e0fc'); /* for IE */
background: -webkit-gradient(linear, left top, left bottom, from(#12cde6), to(#f5e0fc)); /* for Webkit */
background: -moz-linear-gradient(top,  #12cde6,  #f5e0fc); /* for Firefox 3.6 and up */color:white; padding-bottom:10px;border-top:2px solid black;border-left:2px solid black;text-decoration:none;border-right:2px solid black;">
		<div style="float:right; font-family:Arial;font-weight:bold; color:black;font-size:16px; background-color:#fca4b5; padding:8px; ">Beta</div>
		<div style="padding-top:8px;">Color the States</div>
	</div>

	<div style="padding-top:10px;padding-bottom:15px;border-bottom:2px solid black;border-left:2px solid black;border-right:2px solid black;color:#000; background-color:#f5e0fc;">
		<span style="font-size:16px; padding-left:15px;">
			Fill in selected US states with a background color and create a KML file, usable in Google Maps.
		</span>
	</div>

	<div style="padding-bottom:15px;"></div>
</div>
